@(form: Form[MainController.Login])

<html>
<head>
    <title>Zentasks</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
</head>
<body>
<header>
    <a href="@routes.MainController.index" id="logo"><span>Zen</span>tasks</a>

    @helper.form(routes.MainController.authenticate) {
    <h1>Sign in</h1>

    <p>
        <input type="email" name="email" placeholder="Email" value="@form("email").value">
    </p>
    <p>
        <input type="password" name="password" placeholder="Password">
    </p>
    <p>
        <button type="submit">Login</button>
    </p>
    }

</header>

</body>
</html>