@(email: String, fullName: String)(body: Html)

<html>
    <head>
        <title>Stormpath Play!</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.7.1.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-play-1.7.1.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/underscore-min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/backbone-min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
        <script type="text/javascript" src="@routes.MainController.javascriptRoutes"></script>
    </head>
    <body>
        <header>
            <a href="@routes.CustomDataController.index" id="logo"><span>Storm</span>path</a>
            <dl id="user">
                <dt>@fullName <span>(@email)</span></dt>
                <dd>
                    <a href="@routes.MainController.logout()">Logout</a>
                </dd>
            </dl>
        </header>
        <nav>
            <h4 class="dashboard"><a href="#/">Dashboard</a></h4>
        </nav>
        <section id="main">
            @body
        </section>
    </body>
</html>

